<ul class="comments">
  <% comments.each do |c| %>
    <li class="comment">
      <div class="comment-avatar"><a href="<%= user_url(c.user) %>"><%= image_tag c.user.avatar.url(:bitty) %></a></div>
      <span class="comment-user"><%= c.user.full_name %></span>
      <span class="comment-date"><%= time_ago_in_words(c.created_at) %> ago</span>
      <div class="comment-content"><%= c.content %></div>
    </li>
  <% end %>
</ul>

<div class="comment-update-container is-off">
  <li class="comment">
    <div class="comment-avatar"><a href="<%= user_url(@comment_last.user) %>"><%= image_tag @comment_last.user.avatar.url(:bitty) %></a></div>
    <span class="comment-user"><%= @comment_last.user.full_name %></span>
    <span class="comment-date"><%= time_ago_in_words(@comment_last.created_at) %> ago</span>
    <div class="comment-content"><%= @comment_last.content %></div>
  </li>
</div>