<header>
	<h2><%= @user.full_name %></h2>
    <section class=user-friend-request>
      <% if @user != current_user %>
        <%= render :partial => "friend_requests/form", :locals => {:user => @user} %>
      <% end %>
    </section>
    <section class="user-about">
      <%= render :partial => "bio", :locals => {:profile => @user.profile} %>
    </section>
    <section class="user-friends">
      <h3>friends</h3>
      <%= render :partial => "list", :locals => {:users => @user.friends} %>
    </section>
    <section class="user-friend-requests">
      <% if @user == current_user %>
        <%= render :partial => "friend_requests/list", :locals => {:user => @user} %>
      <% end %>
    </section>
    <section class="user-timeline">
      <% if @user == current_user %>
        <%= render :partial => "posts/form" %>
      <% end %>
      <%= render :partial => "posts/list", :locals => {:posts => @user.posts.order("id DESC")} %>
    </section>
</header>