<header>
	<h2><%= @user.full_name %></h2>
    <div class=friend_request>
      <%= render :partial => "friend_requests/form" %>
    </div>
    <div>
			<%= "#{@profile.city}" %>
		</div>
		<div>
			<%= "#{@profile.state}" %>
		</div>
		<div>
			<%= "#{@profile.country}" %>
		</div>
		<section class="bio">
			<div>
				<%= "#{@profile.bio}" %>
			</div>
		</section>
    <section class="friends">
      <h3>friends</h3>
      <ul>
        <% user_friends(@user).each do |friend| %>
          <li>
            <%= link_to user.full_name, user_url(user) %>
          </li>
        <% end %>
      </ul>
    </section>
    <section class="friend_requests">
      <%= render :partial => "friend_requests/list", :locals => {:user => @user} %>
    </section>
		<div>
      <% if @user == current_user %>
		    <%= link_to "Edit your profile", "/users/#{@user.id}/profile/edit" %>
      <% end %>
		</div>
</header>