<div class="user-show">
  <div class="top">
    <section class="user-avatar">
      <%= image_tag @user.avatar.url(:medium) %>
    </section>
    <section class="user-about">
      <h1 class="user-name"><%= @user.full_name %></h1>
  		<%= render :partial => "bio", :locals => {:profile => @user.profile} %>
    </section>
  </div>

  <!-- <div class="bottom"> -->
  	<div class="left">
      <section class="user-timeline">
        <% if @user == current_user %>
          <%= render :partial => "posts/form" %>
        <% else %>
          <h2>Timeline</h2>
        <% end %>
        <%= render :partial => "posts/list", :locals => {:posts => @user.posts.order("id DESC")} %>
      </section>
  	</div>

  	<div class="right">
      <section class="user-projects">
        <%= render :partial => "projects/list", :locals => {:projects => @user.projects} %>
      </section>
      <section class="user-friend-request">
        <% if @user != current_user %>
          <%= render :partial => "friend_requests/form", :locals => {:user => @user} %>
        <% end %>
      </section>
      <section class="user-friends">
        <h2>friends</h2>
        <%= render :partial => "list", :locals => {:users => @user.friends} %>
      </section>
      <section class="user-friend-requests">
        <% if @user == current_user %>
          <%= render :partial => "friend_requests/list", :locals => {:user => @user} %>
        <% end %>
      </section>
  	</div>
  <!-- </div> -->
</div>