<!-- Sizes dummy to fit window -->
<% w = 400 %> <!-- based on container size -->
<% b = 2 %> <!-- border width, in css -->
<% m = 10 %> <!-- margin size, in css -->
<% h = w * project.trim_height / project.trim_width %>
<% ch = 150 %> <!-- caption height -->
<% pc = project.page_count %>

<!-- Sets page content -->
<% if project.self_ends == true %>
  <!-- for self-ends -->
	<% beg_page_content = ["pastedown", "endpaper", "endpaper", "copyright", "title page"] %>
	<% end_page_content = ["pastedown", "endpaper", "endpaper"] %>
<% else %>
  <!-- for colored ends -->
  <% beg_page_content = ["copyright", "title page"] %>
	<% end_page_content = [] %>
<% end %>

<section id='dummy-with-text' style='width:<%= w * 2 %>px; height:<%= h + ch %>px;'>
  <div id='dummy' style='width:<%= w * pc %>px; height:<%= h + ch %>px;'>

		<% (1..32).each do |i| %>
			<% if i % 2 == 1 %>
				<% page_class = "recto" %>
			<% else %>
				<% page_class = "verso" %>
			<% end %>

      <% text_status = project.user == current_user ? "editable" : nil %>

			<div class="page" style="width:<%= w %>px; height:<%= h + ch %>px;">
        <div class="page-image cropped droppable <%= page_class %>" style="width:<%= w %>px; height:<%= h %>px;">
          <% page_image = project.pages[i - 1].image %>

          <% unless page_image.nil? || page_image.file.url == "/images/missing.png" %>
  				  <div class="image-<%= page_class %>"><%= image_tag page_image.file.url, :class => "draggable stretched big-image" %></div>
          <% end %>

        	<p class="page-num"><%= i %></p>
  		  	<p class="page-content"><%= beg_page_content[i - 1] %><%= end_page_content[i - pc] %></p>
        </div>

				<div class="page-text">
		      <div class="caption-text <%= text_status %> caption-<%= page_class %>" style="width:<%= w %>px; height:<%= ch %>px; top:<%= h %>px;">
		        <%= project.pages[i - 1].caption.content %>
		      </div>

		      <div class="text-update-form is-off caption-<%= page_class %>" style="width:<%= w %>px; height:<%= ch %>px; top:<%= h %>px;">
		        <% caption = project.pages[i - 1].caption %>
		        <%= form_for caption, :url => page_caption_url(caption.page), :method => :put do |f| %>
		          <%= f.text_area :content %>
		        <% end %>
		      </div>
				</div>

			</div>
		<% end %>

  </div>
</section>


