<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :description %><br>
<%= f.text_area :description %><br>


<%= f.label :page_count %>
<%= f.select(:page_count, options_for_select( [32, 40] )) %><br>

<%= f.label :trim_width, "width", :class => "number-field" %>
<%= f.text_field :trim_width %><br>

<%= f.label :trim_height, "height", :class => "number-field" %>
<%= f.text_field :trim_height %><br>

<%= f.label :self_ends_true, "Self-ends" %>
<%= f.radio_button :self_ends, true %>
<%= f.label :self_ends_false, "Colored ends" %>
<%= f.radio_button :self_ends, false %><br>


<!-- nested form here for manuscript, images -->

<%= f.label :thumbnail, "Thumbnail image" %><br>
<div id="photo-attachment-container">
  choose file
  <div class="wrapper">
    <%= f.file_field :thumbnail %>
  </div>
</div>
<span class="photo-file-name">
</span>
<br>

<%= f.label :public_false, "Keep my project private for now." %>
<%= f.radio_button :public, false %><br>
<%= f.label :public_true, "Show it to the world!" %>
<%= f.radio_button :public, true %><br>

