<div class="project">
  <h2><%= @project.title %></h2>
  <div>
    <%= link_to "Edit this project", edit_project_url(@project) %>
  </div>
  <div class="project-user">
    <a href="<%= user_url(@project.user) %>"><%= image_tag @project.user.avatar.url(:bitty) %></a>
    <span class="project-user-name"><%= @project.user.full_name %></span>
  </div>
  <div class="project-description">
    <%= @project.description %>
  </div>

  <div class="project-dummy">
    <h2>Your dummy</h2>
    <div class="sidebar">
      <%= render :partial => "images/sidebar", :locals => { :images => @project.images, :image => @image } %>
    </div>

    <%= render :partial => "pages/template_two", :locals => { :project => @project, :image => @image } %>
  </div>

</div>
