<div class="project">
  <div class="project-user">
   <a href="<%= user_url(@project.user) %>"><%= image_tag @project.user.avatar.url(:bitty) %></a>
   <span class="project-user-name"><%= @project.user.full_name %></span>
  </div>
	<h1 class="project-title"><%= @project.title %></h1>
	<section class="project-likes-list">
		<span class="project-add-like"><% unless current_user.likes_project?(@project) %><%= link_to "LIKE", project_likes_url(@project), :method => :post %><% end %></span>
		<span class="project-likes"><% unless @project.likes.length == 0 %><%= @project.likes.length %> people like this project<% end %></span>
	</section>
  <div class="project-description">
    <%= @project.description %>
  </div>
  <div class="project-edit">
    <h2><%= link_to "Edit this project", edit_project_url(@project) %><h2>
  </div>

  <div class="project-dummy">
    <div class="sidebar droppable">
      <%= render :partial => "images/sidebar", :locals => { :images => @project.images.reverse, :image => @image } %>
    </div>
    <%= render :partial => "pages/template_two", :locals => { :project => @project, :image => @image } %>
  </div>

</div>

<section class="project-timeline">
	<h2>comment on this project</h2>
  <%= render :partial => "posts/form", :locals => {:project_id => @project.id} %>
  <%= render :partial => "posts/list", :locals => {:posts => @project.posts.order("id DESC")} %>
</section>


<section class="project-email">
  <h2>tell someone about it!</h2>
  <%= render :partial => "emails/form" %>
</section>




