<h2>Add a photo</h2>

<%= form_for photo, :url => user_photos_path, :html => { :multipart => true } do |form| %>
<div>
  <%= form.file_field :file %>
</div>

<div>
	<%= form.label :caption %><br>
	<%= form.text_field :caption %>
</div>

	<%= form.submit "ADD PHOTO" %>
<% end %>