<% if !user.pending_requests.empty? %>
  <h2>friend requests</h2>
  <section class="friend-requests">
    <% user.pending_requests.each do |req| %>
      <article class="friend-request">
        <div class="friend-request-user">
         <a href="<%= user_url(req.sender) %>"><%= image_tag req.sender.avatar.url(:bitty) %><%= req.sender.full_name %></a>
        </div>
        <%= button_to "Accept", user_friend_request_url(req.sender_id, req.id, :status => "accepted"), :remote => true %>
        <%= button_to "Reject", user_friend_request_url(req.sender_id, req.id, :status => "rejected"), :remote => true %>
      </article>
    <% end %>
  </section>
<% end %>