<h3>Timeline</h3>

<ul>
  <% posts.each do |p| %>
    <li>
      <div class="post-title"><strong><%= p.title %></strong></div>
      <div class="post-content"><%= p.content %></div>
      <div class="post-date"><em>posted <%= time_ago_in_words(p.created_at) %> ago</em></div>
      <div class="post-comments"><%= render :partial => "comments/list", :locals => { :comments => p.comments } %></div>
    </li>
    <div class="post-add-comment"><%= link_to "COMMENT", new_post_comment_url(p) %></div>
  <% end %>
</ul>