<section class="posts">
  <% posts.each do |p| %>
    <article class="post">
      <div class="post-main">
        <div class="post-avatar"><a href="<%= user_url(p.user) %>"><%= image_tag p.user.avatar.url(:bitty) %></a></div>
        <div class="post-main-container">
          <span class="post-user"><%= p.user.full_name %></span>
          <span class="post-date"><%= time_ago_in_words(p.created_at) %> ago</span>
          <div class="post-content"><%= p.content %></div>
          <div class="footer">
            <span class="post-add-comment"><button class="button button-sm">comment</button></span>
            <span class="post-add-like"><% unless current_user.likes_post?(p) %><button class="button button-sm">like</button><% end %></span>
            <span class="post-likes"><% unless p.likes.length == 0 %><%= p.likes.length %> people like this post<% end %></span>
            <%= render :partial => "comments/form", :locals => { :post => p } %>
          </div>
          <article class="post-comments"><%= render :partial => "comments/list", :locals => { :post => p, :comments => p.comments } %></article>
        </div>
      </div>
    </article>
  <% end %>
</section>