<h2>What's on your mind?</h2>

<%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.textarea :content %>

  <%= f.submit "SUBMIT POST" %>

<% end %>