<section class="photo-thumbs-sidebar">
  <% @already_used = [] %>
  <% images.each do |i| %>
    <article class="photo-thumb draggable">
      <% if i.page_id.nil? %>
        <%= image_tag i.file.url(:thumb), :data => {:url => i.file.url} %>
      <% else %>
        <% @already_used << i %>
      <% end %>
    </article>
  <% end %>

  <%# @already_used.each do |image| %>
    <!-- <article class="photo-thumb draggable"> -->
      <%#= image_tag image.file.url(:thumb), :data => {:url => image.file.url} %>
    <!-- </article> -->
  <%# end %>

  <%= form_for image, :url => project_images_url(image.project), :html => { :multipart => true } do |form| %>

    <!-- <%= form.label :file, "add image to project" %> -->
    <div id="photo-attachment-container" class="sidebar-content">
      choose file
      <div class="wrapper">
        <%= form.file_field :file, :class => "sidebar-file-field" %>
      </div>
    </div>
    <span class="photo-file-name sidebar-file-name">
    </span>
    <br>
    <span class="form-submit-button sidebar-content">
      <%= form.submit "ADD IMAGE" %>
    </span>
  <% end %>
</section>

