<ul>
	<li><%= link_to "Home", user_url(current_user) %></li>
  <% if signed_in? %>
  	<li><%= link_to "Edit your profile", edit_user_url(current_user) %></li>
    <li><%= link_to "Make new project", new_project_url %></li>
  <% end %>
  <li><%= link_to "All users", users_url %></li>
  <li>
    <%= link_to "Mailbox (#{current_user.unread_messages.length})", user_messages_url(current_user) %>
    <% if current_user.unread_messages.length != 0 %>
      <ul class="drop-down">
        <%= render :partial => "messages/inbox" %>
      </ul>
    <% end %>
  </li>
  <li>
    <%= link_to "Notifications (#{current_user.unread_notifications.length})", user_notifications_url(current_user) %>
    <% if current_user.notifications.length != 0 %>
      <ul class="drop-down">
        <%= render :partial => "notifications/list" %>
      </ul>
    <% end %>
  </li>
	<!-- <li><%#= link_to "Photos", user_photos_url(current_user) %></li> -->
  <li>
    <%= link_to "Sign out", destroy_user_session_url, :method => "delete" %>
	</li>
</ul>
