<!DOCTYPE html>
<html>
<head>
  <title>ThirtyTwoPages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

<% if signed_in? %>
  <%= button_to "SIGN OUT", "/users/sign_out", :method => "delete" %>
<% end %>

</body>
</html>
